.pick{
  position: fixed;
  font-size: 80px;
  font-family: monospace;
  color: green;
  left: 30%;
  z-index: 10;
}

.set1{
  display:block;
}

.set2, .set3, .set4, .set5, .set6, .set7, .set8, .set9, .set10{
  display:none;
}

.left{
  position: fixed;
  width: 50vw;
  height: 100vh;
  left:0;
}

.right{
  position: fixed;
  width: 50vw;
  height: 100vh;
  right:0;
}

#score{
  position: fixed;
  font-size: 180px;
  font-family: monospace;
  color: orange;
  left: 46%;
  bottom: 0;
  z-index: 10;
}
